/*
* Detta är en animation som finns på page 404 och importeras sedan i main.css
*/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
