@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("components/styles/keyframes.css");

body {
	padding: 0 3rem;
}
* {
	font-family: "Kanit", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
h1 {
	font-size: 48px;
	font-weight: 500;
}
h2 {
	font-size: 30px;
	font-weight: 500;
	text-decoration: underline;
}
h3 {
	font-weight: 600;
}
h4 {
	font-size: 16px;
	font-weight: 600;
}
a {
	font-size: x-large;
}
p {
	font-size: large;
}

.single-wrapper,
.text-field,
.about-wrapper {
	display: flex;
	flex-direction: column;
}
.home-wrapper {
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	gap: 20%;
}
.home-aside {
	max-width: 350px;
}
.project-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-article {
	width: calc(100% - 6rem);
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
	border-radius: 20px;
	background-color: rgb(214, 214, 214);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.single-wrapper {
	justify-content: space-between;
	align-items: center;
}
.text-field {
	justify-content: space-between;
	align-items: center;
	width: 30%;
}
.single-date {
	font-style: italic;
}
.about-wrapper {
	justify-content: center;
	align-items: center;
}
.contact-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.menu-trigger {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-trigger {
		display: block;
		width: 33.33%;
	}
	.menu-list {
		display: none;
		transform: translate(-220px, 0);
		transition: 0.3s linear;
		text-align: end;
		position: absolute;
		left: 0;
		top: 0;
		width: 140px;
		z-index: 3;
		height: 100%;
	}
	.menu-list.is-open {
		width: 220px;
		padding: 0;
		padding-top: 2rem;
		display: block;
		transition: 0.3s linear;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		transform: translate(0, 0);
	}
}

@media screen and (max-width: 850px) {
	body {
		padding: 0 2rem;
	}
	.project-article {
		width: 100%;
	}
	.home-wrapper {
		flex-wrap: wrap;
	}
	.home-aside {
		text-align: center;
		width: auto;
		order: 2;
	}
	.about-wrapper {
		flex-direction: column;
	}
	.text-field {
		width: 70%;
	}
}
